[submodule "f1tenth_drive/lib/range_libc"]
	path = f1tenth_drive/lib/range_libc
	url = https://github.com/RTIS-Lab/range_libc.git
[submodule "f1tenth_drive/src/kw_f110_drive"]
	path = f1tenth_drive/src/kw_f110_drive
	url = https://github.com/RTIS-Lab/kw_f110_drive
[submodule "f1tenth_gym_ros/maps/f1tenth_racetracks"]
	path = f1tenth_gym_ros/maps/f1tenth_racetracks
	url = https://github.com/f1tenth/f1tenth_racetracks/
