[submodule "f1tenth_drive/lib/range_libc"]
	path = f1tenth_drive/lib/range_libc
	url = https://github.com/RTIS-Lab/range_libc.git
[submodule "f1tenth_drive/src/kw_f110_drive"]
	path = f1tenth_drive/src/kw_f110_drive
	url = https://github.com/RTIS-Lab/kw_f110_drive
[submodule "f1tenth_drive/lib/nlopt"]
	path = f1tenth_drive/lib/nlopt
	url = https://github.com/stevengj/nlopt
[submodule "f1tenth_drive/src/ros_preempt"]
	path = f1tenth_drive/src/ros_preempt
	url = https://github.com/RTIS-Lab/ros_preempt.git
[submodule "f1tenth_drive/src/rtis_safety"]
	path = f1tenth_drive/src/rtis_safety
	url = https://github.com/RTIS-Lab/rtis_safety.git
[submodule "f1tenth_drive/src/rtis_f110_rl"]
	path = f1tenth_drive/src/rtis_f110_rl
	url = https://github.com/RTIS-Lab/rtis_f110_rl.git
[submodule "f1tenth_system/src/f1tenth_system"]
	path = f1tenth_system/src/f1tenth_system
	url = https://github.com/RTIS-Lab/f1tenth_system.git
